{% extends 'base.html' %}

{% block content_block %}
  <form>
    <div class="row">
      <div class="large-6 columns">
      
          <input style="margin-bottom: 0;" id="article_url_1" type="text" placeholder="Article 1" />
          <small id="compare_error_1" style="margin-top: 0; display:none;" class="error">A valid article url is required.</small>
      </div>
      <div class="large-6 columns">
        
          <input style="margin-bottom: 0;" id="article_url_2" type="text" placeholder="Article 2" />
          <small id="compare_error_2" style="margin-top: 0; display:none;" class="error">A valid article url is required.</small>
        
      </div>
    </div>
    <br>
    <div class="large-3 columns large-centered">
      <div id="article_compare_submit" class="button">Compare Articles</div>
    </div>
  </form>
  <div id="article_compare_result" class="row" hidden>
    <table class="large-8 large-offset-2 columns" >
      <thead>
        <tr>
          <th class="text-center"><h4>Similar Keywords </h4></th>
          <th class="text-center"><h4>Similarity Index</h4></th>
        </tr>
      </thead>
      <tbody id = "article_compare_tbl">
          <tr>
            <td>
              <ul id="similar_items">
              <ul>
            </td>
            <td class="text-center">
              <h1>
                <span id="similarity"></span> %
              </h1>
            </td>
          </tr>
      </tbody>
    </table>    
  </div>
{% endblock %}