{% extends 'base.html' %}

{% block content_block %}
  <form>
    <div class="row">
      <div class="large-6 columns">
      
          <input id="article_url_1" type="text" placeholder="Article 1" />
        
      </div>
      <div class="large-6 columns">
        
          <input id="article_url_2" type="text" placeholder="Article 2" />
        
      </div>
    </div>
    <div class="large-3 columns large-centered">
      <div id="article_compare_submit" class="button">Compare Articles</div>
    </div>
  </form>
  <div id="article_compare_result">
    <p></p>
  </div>
{% endblock %}