{% extends 'base.html' %}

{% block content_block %}
  <form>

    {% csrf_token %}
    <div class="row">
      <div class="row collapse">
        <div class="small-10 columns">
          <input id="article_summarize_url" type="text" placeholder="Article Url">
        </div>
        <div class="small-2 columns">
          <div id="article_summarize_submit" class="button postfix">Get Summary</div>
        </div>
      </div>
    </div>
  </div>
  </form>
  <div class="row" id="article_summarize_result">
    <p></p>
  </div>
{% endblock %}