{% extends 'base.html' %}

{% block content_block %}
  <form>

    {% csrf_token %}
    <div class="row">
      <div class="row collapse">
        <div class="small-10 columns">
            <input style="margin-bottom: 0;" id="article_summarize_url" type="text" placeholder="Article Url">
            <small id="summary_error" style="margin-top: 0; display:none;" class="error">A valid article url is required.</small>

        </div>
        <div class="small-2 columns">
          <div id="article_summarize_submit" class="button postfix">Get Summary</div>
        </div>
      </div>
    </div>
  
  </form>
  <div class="row" id="article_summarize_result">
    <p></p>
  </div>
{% endblock %}